.git
.yarn
node_modules
Dockerfile*
.dockerignore
apps/*/.vscode
apps/*/.next
apps/*/dist
apps/*/out
apps/*/*env
apps/sora/settings.bin
apps/*/npm-debug.log
apps/*/node_modules
packages/*/node_modules
packages/database/generated-prisma
