/* Loading */
.loader {
  width: 5rem;
  height: 5rem;
  border: 0.3em solid #111;
  border-radius: 50%;
  display: flex;
  align-self: center;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 1.3rem;
  height: 1.3rem;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cant Vote */
.heading {
  display: grid;
  font-size: 3em;
}

.redSpan {
  color: red;
}
